@charset "utf-8";
$card-shadow: 0 0.5em 1em -0.125em rgba(#000000, 0.2), 0 0px 0 1px rgba(#000000, 0.02) !default;

.timeline-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 2.5rem 0px;
  gap: 0.6rem;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;

  & > hr {
    margin: 0;
    height: 2px;
    border: none;
    background-color: var(--divider);
    box-sizing: content-box;
    flex: 1 1 0%;
  }
}

.timeline-h4 {
  line-height: 1;
  font-weight: 600;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: var(--fontSizes-lg);
}

.item {
  position: relative;
  border-radius: var(--space-10);
  width: 100%;
  height: auto;
  margin-bottom: var(--space-16);
  display: flex;
  gap: var(--space-16);
  flex-direction: row;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: unset;
  padding: var(--space-12);
  margin-left: calc(var(--space-12)*-1);
  margin-right: calc(var(--space-12)*-1);
  font-size: var(--fontSizes-xs);

  &::after {
    content: ""; // 不知道为什么删掉这个就没阴影了
    border-radius: var(--space-10);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0.08em var(--border-color);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    box-shadow: 0 0 0 0 #E1E2E4;
    -webkit-transform: scale(1.25, 1.25);
    transform: translateY(-1px);
    background-color: var(--surface-color);
    .title {
      text-decoration: underline;
      color: var(--accent);
    }
  }

  &:hover::after {
    opacity: 1;

  }

  .title {
    color: var(--text-primary);
    transition: all 0.15s ease-in-out 0s;
    font-size: var(--fontSizes-xs);
    margin: 0;
    font-weight: bold;
    margin-top: 0.4rem;
  }

  .blog-message-cta {
    display: flex;
    flex-direction: column;
    gap: var(--space-10);
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
  }

  .date {
    color: var(--text-secondary);
    font-size: var(--fontSizes-2xs);
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--space-6);
    line-height: 1;

    span.icon {
      width: 1.095rem;
      height: 1.095rem;
      font-size: 1.095rem;
    }
  }

  .content {
    color: var(--text-secondary);
    font-size: var(--fontSizes-2xs);
    line-height:22px;
    margin: 0;
  }

  .image-layout {
    min-height: 100%;
    aspect-ratio: 5 / 3;
    max-width: 160px;
    width: 100%;
    height: auto;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border-radius: 0.5em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.boox {
  color: #333;
  height: auto;
}

/* 瀑布流、瀑布流 */
.is-ancestor {
  display: grid;
  grid-template-columns: 1fr; // 分为1列
  grid-template-rows: auto;
  column-gap: 1em; // 列间距5px
}


.app-container {
  margin: unset;
}

.posts-dir {

  ul {
    list-style-type: none;

    .dir-item {
      margin-left: var(--space-16);
    }

    a {
      text-decoration: none;
      display: inline-block;
      margin: 0 0.8rem;
      font-size: 14px;
      border-radius: 24px;
      color: var(--text-primary);

      &:hover {
        background-color: var(--toolbar-highlight);
      }
    }

    a.dir-toggle {
      display: flex;
      align-items: center;
      margin: 0 1.4rem;
      font-size: var(--fontSizes-sm);
      padding: var(--space-8);

      .dir-arrow-down {
        font-size: 20px;
        padding: 4px;
      }
    }

    a.dir-link {
      padding: var(--space-8);
    }
  }
}


//普通桌面端
@media only screen and (min-width: 768px) {

  .blog {

    .timeline-box {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin: 2.5rem 0px;
      gap: 0.6rem;
      padding: 0;
      vertical-align: baseline;
      box-sizing: border-box;

      & > hr {
        margin: 0;
        height: 1px;
        border: none;
        background-color: var(--divider);
        box-sizing: content-box;
        flex: 1 1 0%;
      }
    }

    .timeline-h4 {
      line-height: 1;
      font-weight: 600;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      font-size: var(--fontSizes-lg);
    }

    .mat-h4 {
      margin: 1.4rem 1.2rem 0.8rem 1.2rem;
      font-weight: 500;
      line-height: 1.2;
    }

    .mat-h2 {
      margin-top: 1.6em;
      margin-bottom: 1.6em;
    }

    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 1em;
    }

    .item {
      display: block;
      position: relative;
      border-radius: 0.5em;
      width: 100%;
      height: auto;
      padding: 0 0 1.2rem;
      margin-bottom: 1em;
      box-shadow: 0 0 0 0.08em var(--border-color);
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      gap: unset;
      margin-left: 0;
      margin-right: 0;
      font-size: unset;

      &::after {
        content: ""; // 不知道为什么删掉这个就没阴影了
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &:hover {
        box-shadow: 0 0 0 0 #E1E2E4;
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1, 1);
        background-color: var(--background-color);
        .title {
          text-decoration: unset;
          color: var(--accent);
        }
      }

      &:hover::after {
        opacity: 1;
      }

      .title {
        color: var(--text-primary);
        font-size: 1.5rem;
      }

      .blog-message-cta {
        display: block;
        gap: unset;
        padding-top: 0;
        padding-bottom: 0;
      }

      .mat-h4 {
        margin: 1.4rem 1.2rem 0.8rem 1.2rem;
        font-weight: 500;
        line-height: 1.2;
      }

      .mat-h2 {
        margin-top: 1.6em;
        margin-bottom: 1.6em;
      }

      .date {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        margin-bottom: 0.6rem;
        color: var(--text-secondary);
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: var(--space-6);
        line-height: unset;

        span.icon {
          width: 1.095rem;
          height: 1.095rem;
          font-size: 1.095rem;
        }
      }

      .content {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        color: var(--text-secondary);
        font-size: 15px;
        line-height: 22px;
      }

      .image-layout {
        height: 11em;
        width: 100%;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        border-radius: 0.5em 0.5em 0 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        border: 0;
        min-height: unset;
        aspect-ratio: unset;
        max-width: unset;
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  .blog {
    padding: 0 3.5rem;
  }

}

@media screen and (min-width: 1500px) {

  .blog {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 1em;
    }
  }
}

@media screen and (min-width: 1700px) {

  .blog {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 1em;
    }
  }
}


@media screen and (min-width: 2000px) {

  .blog {
    .is-ancestor {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-template-rows: auto;
      column-gap: 1em;
    }
  }
}