//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "highlight.css";

// Global Theme
.md-content  {
  font-family: Google Sans,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  margin: 0 auto;
  padding: 0 0 40px;
  color: var(--blog-text);
  font-size: 15px;

  body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, pre {
    margin: 0;
  }

  video {
    height: auto;
    width: 100%;
  }

  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    opacity:0.2;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--scrollbar-thumb);
  }

  &::selection {
    background: var(--accent);
    color: #EEEEEE;
  }

  // 代码标题
  .code_title {
    padding: 6px .6rem;
    margin: 16px 0 0 0;
    display: flex;
    border: .1rem solid var(--border-color);
    border-radius: 8px 8px 0 0;
    border-bottom-style:none;
    color: var(--text-primary);
    background-color: var(--pre-code-background);
    align-items: center;

    //&::after {
    //  content: "\00A0:";
    //}

    img {
      width: 26px;
      height: 26px;
      margin-right: .6rem;
    }
  }

  details {
    border: 2px solid var(--border-color);
    border-radius: 12px;
    padding: var(--space-14);

  }

  img.cover {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    object-position: center center;
    color: rgba(0, 0, 0, 0);
    height: auto;
    border-radius: var(--space-8);
    border: 1px solid var(--colors-divider);
    margin-top: var(--space-12);
    margin-bottom: var(--space-12);
  }

  // 更新时间
  .update-date {
    font-size: var(--fontSizes-xs);
    color: var(--colors-text-tertiary);
    margin-bottom: var(--space-20) !important;
    width: 100%;
    margin-inline: 0;
    font-family: Segoe UI,system-ui,-apple-system,sans-serif;
  }

  // <kbd> 定义键盘文本。它表示文本是从键盘上键入的。
  kbd {
    padding: 0 .29412em;
    border-radius: .3rem;
    border: .1rem solid #c9c9c9;
    border-bottom-color: #bcbcbc;
    background-color: #fcfcfc;
    color: #555;
    font-size: 85%;
    box-shadow: 0 0.1rem 0 #b0b0b0;
    word-break: break-word;
  }

  // 数学公式
  .MathJax span {
    display: inline;
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: 0;
    line-height: normal;
    text-decoration: none;
    font-size: 18px;
  }

  // 粗体
  strong {
    font-weight: bold;
  }

  // 段落
  p {
    line-height: 1.75;
    word-spacing: 0.05rem;
    margin: var(--space-12) 0;
    font-size: var(--fontSizes-xs);
    padding: 0;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--blog-title-text);
    font-weight: normal;
    scroll-margin-top: 75px;

    &:target {
      scroll-margin-top: 75px;
    }
  }

  h1 {
    font-size: var(--fontSizes-4xl);
    margin-top:  var(--space-10);
    margin-bottom:  var(--space-10);
    font-weight: normal;
    line-height: 1.5;
  }

  h2 {
    font-size: var(--fontSizes-2xl);
    margin-top: var(--space-32);
    margin-bottom: var(--space-24);
    font-weight: normal;
    //padding-bottom: 0.3em;
    //border-bottom: 1px solid var(--divider);
  }

  h3 {
    font-size: 1.5rem;
    margin-top: var(--space-8);
    margin-bottom: var(--space-8);
    font-weight: normal;

  }

  h4 {
    font-size: 1.25rem;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  h5 {
    margin-top: 24px;
    margin-bottom: 16px;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }

  h6 {
    margin-top: 36px;
    margin-bottom: 16px;
    font-size: 1em;
  }

  // 链接
  a {
    //color: #40ccab;
    margin: 1.2em 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    word-break: break-word;
    color: var(--accent);
    cursor: pointer;
    font-weight: normal;
    box-sizing: border-box;
    white-space: pre-wrap;

    &:hover {
      cursor: pointer;
      color: var(--accent);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }

  // 无序列表
  ul {
    counter-reset: items;
    display: block;
    list-style-type: disc;
    padding-left: var(--space-26);
    line-height: 1.6rem;
    word-spacing: 0.05rem;
  }

  // 有序列表
  ol {
    counter-reset: items;
    display: block;
    padding-left: 0;
    line-height: 1.6rem;
    word-spacing: 0.05rem;

    ul {
      counter-reset: items;
      display: block;
      list-style-type: disc;
      padding-left: var(--space-52);
      line-height: 1.6rem;
      word-spacing: 0.05rem;
    }
    ol {
      counter-reset: items;
      display: block;
      list-style-type: disc;
      padding-left: var(--space-26);
      line-height: 1.6rem;
      word-spacing: 0.05rem;
    }
  }

  // 列表Item
  li {
    padding-left: var(--space-8);
  }
  ol:not([class]) {
    list-style: none;
    position: relative;

    p {
      display: contents;
    }
  }

  ol:not([class]) li, ul:not([class]) li {
    margin-top: var(--space-8);
  }
  ol:not([class])>li::before {
    content: counter(list-item);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: .9em;
    font-weight: 500;
    background-color: var(--ol-color);
    font-variant-numeric: tabular-nums;
    line-height: 1.1;
    inset: .25ex 0 0 0;
    margin-right: .8rem;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }

  .code_title + pre {
    border-radius: 0 0 8px 8px;
    margin: 0 0 16px 0;
  }

  // 代码容器
  pre {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 16px 0 16px 0;
    padding: 0 0;
    border: .1rem solid var(--border-color);
    border-radius: 8px;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.5rem;
    word-wrap: normal;

    // 代码
    code {
      font-family: "Roboto Mono", Source Sans Pro, sans-serif, monospace;
      font-weight: 400;
      display: block;
      overflow-x: auto;
      border: none;
      white-space: pre;
      padding: var(--space-12);
      margin: 0;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      font-size: .8rem
    }
  }

  // 字段高亮
  code {
    font-family: 'Roboto Mono',Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    color: var(--blog-text);
    margin: 0 2px;
    padding: 2px 6px;
    white-space: pre-wrap;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--code-background);

    ol {
      list-style: none;
      padding-left: 0;
      counter-reset: my-badass-counter;

      li {
        margin: 0;
      }
    }
    ol > li:before {
      content: counter(my-badass-counter);
      padding-right: 2em;
      counter-increment: my-badass-counter;
    }
  }

  // 提示
  .blog-info-bg {
    padding: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
    border-radius: 10px;
    background: #deeafd;
    color: #174ea6;
    margin-top: clamp(2.375rem, 1.98rem + 1.96vw, 3.75rem);
    margin-bottom: clamp(1rem, 2.5vw, 2rem);

    p {
      margin: 0;
      &.warn {
        margin: 0 0 1rem 0;
        display: flex;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: center
      }
    }

    p+p {
      margin-top: var(--space-8);
    }

    strong, code {
      color: #174ea6;
      margin: 0;
    }

  }

  .blog-tip-bg {
    padding: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
    border-radius: 10px;
    background: #fce8e8;
    color: #a50e0e;
    margin-top: clamp(2.375rem, 1.98rem + 1.96vw, 3.75rem);
    margin-bottom: clamp(1rem, 2.5vw, 2rem);

    p {
      margin: 0;
      &.warn {
        margin: 0 0 1rem 0;
        display: flex;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: center
      }
    }

    p+p {
      margin-top: var(--space-8);
    }

    strong, code {
      color: #a50e0e;
      margin: 0;
    }
  }


  // 块级引用
  blockquote {
    border-left: 4px solid var(--theme-color,#42b983);
    background-color: rgba(45 82 171 / 0.075);
    margin: 2em 0;
    color: var(--text-primary);
    padding: var(--space-8) var(--space-12) var(--space-8) var(--space-16);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: var(--space-6);
    border-style: solid;
    border-color: var(--colors-divider);
    border-radius: var(--space-4);

    p {
      color: var(--text-primary);
      font-weight: normal;
      margin-left: 0;
      line-height: 1.6rem;
      word-spacing: 0.05rem;
    }
  }

  // 分割线
  hr {
    border: none;
    border-bottom: 1px solid var(--divider);
    margin: 2rem 0;
  }

  // 表格
  table {
    padding: 0;
    margin: 1rem 0;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;

    &.hljs-ln tr,
    &.hljs-ln tr td {
      border: none;
      background-color: transparent;
    }

    &.hljs-ln tr td.hljs-ln-code {
      padding-left: 10px;
    }

    td.hljs-ln-numbers {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      text-align: center;
      color: #AAA;
      border-right: 1px solid var(--border-color);
      vertical-align: top;
      padding-right: 5px;
      white-space: nowrap;
    }

    tr {
      border-top: 1px solid var(--border-color);
      background-color: var(--background-color);
      margin: 0;
      padding: 0;

      &:nth-child(2n) {
        background-color: var(--background-color);
      }

      th {
        background-color: var(--surface-color);
        margin: 0;
        padding: 6px 13px;

        &:last-child {
          margin-bottom: 0;
        }
        &:first-child {
          margin-top: 0;
        }
      }

      td {
        margin: 0;
        padding: 6px 13px;
        word-break: break-all;
        white-space: pre-wrap;

        &:last-child {
          margin-bottom: 0;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
    th,
    td {
      border: 1px solid var(--border-color);
    }
    thead {
      tr {
        th {
          border-right: 0;
          border-bottom: 0;
          &:last-child {
            border-right: 1px solid var(--border-color);
          }
        }
        color: var(--blog-text);
        background: #fcfcfc;
        & > th:first-child {
          border-top-left-radius: 10px;
          border-bottom: 0;
          border-right: 0;
        }
        & > th:last-child {
          border-top-right-radius: 10px;
          border-bottom: 0;
        }

        th {
          background-color: var(--code-background);
        }
      }
    }
    tbody {
      tr {
        td {
          border-right: 0;
          &:first-child {
            border-right: 0;
            color: var(--text-secondary);
          }
          &:nth-child(2) {
            color: var(--text-secondary);
          }
          &:last-child {
            border-right: 1px solid var(--border-color);
            color: var(--text-secondary);
          }
        }
        &:nth-child(even) {
        }

        &:last-child {
          td:first-child {
            border-bottom-left-radius: 10px;
          }
          td:last-child {
            border-bottom-right-radius: 10px;
          }
        }
        &:not(:last-child) {
          td {
            border-bottom: 0;
          }
        }
      }
    }
  }

  // Other
  .img-package {
    text-align: center;
  }

  img.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .emoji_zero,
  .emoji_one,
  .emoji_two,
  .emoji_three,
  .emoji_four,
  .emoji_five,
  .emoji_six,
  .emoji_seven,
  .emoji_eight,
  .emoji_nine {
    margin-left: 5px;
    margin-right: 8px;
  }

  div {
    &.mermaid-diagram {
      margin: 16px 0 16px 0;
      overflow-y: hidden;
    }

    &.preview-hint {
      opacity: 0.5;
      margin-top: 30%;
      margin-bottom: 30%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.wavedrom-diagram,
    &.plantuml-diagram,
    &.flowchart-diagram{
      padding: 0px 5px 0px 5px;
      margin: 16px 0px 16px 0px;
      width: fit-content;
      overflow: hidden;
    }
  }

  .modal-box {
    background-color: rgb(234, 234, 234);
    background-color: rgba(234, 234, 234, 0.95);
  }

  span {
    &.modal-close {
      color: #666666;
    }

    &.modal-close:hover,
    &.modal-close:focus {
      color: #222222;
    }

    &.img-caption {
      min-width: 20%;
      max-width: 80%;
      display: inline-block;
      padding: 10px;
      margin: 0 auto;
      border-bottom: 1px solid #c0c0c0;
      color: #6c6c6c;
      text-align: center;
      line-height: 1.5;
    }
  }
}

//普通桌面端
@media only screen and (min-width: 768px) {

  .md-content {

    pre code {
      font-size: var(--fontSizes-3xs);
    }

    table {
      tr {
        td {
          white-space: nowrap;
        }
      }
    }
  }
}
