// 返回博客列表
.back-wallpapers-list {
  font-weight: 500;
  font-size: 18px;
  display: block;
  color: var(--accent);
  align-self: flex-start;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
  margin-top: var(--space-8);
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: var(--accent);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
}

.wallpaper-preview {
  display: block;
  margin: 2rem auto auto auto;
  max-height: 70vh;
}

.wallpaper-info {
  text-align: center;
  margin: 0 auto 0 auto;
}

@media only screen and (min-width: 1200px) {
  .wallpaper-cta {
    padding: 0 3.5rem;
  }

}