.meldMainCta {

  .meldMain {
    display: flex;
    bottom: 0;
    left: 240px;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: clip;
    overflow-x: auto;
    overscroll-behavior-x: contain;

    .meldPlate {
      flex-shrink: 0;
      display: block;
      width: 300px;
      overflow: auto;
      padding: var(--space-8) var(--space-8);
      background-color: var(--surface-color);
      border-radius: var(--space-16);
      color: var(--text-secondary);
      transition: all 0.2s ease-in-out 0s;
      min-width: 0;
      border: 1px solid rgba(var(--colors-toolbar-glow)/0.12);
      overflow-x: clip;
      overscroll-behavior-y: contain;

      .meldPost {
        background-color: var(--surface-color);
        padding: .6em 1.2em;
        border-radius: var(--space-16);
        color: var(--text-secondary);
        margin: var(--space-8) var(--space-4);
        transition: all 0.2s ease-in-out 0s;
        min-width: 0;
        border: 1px solid rgba(var(--colors-toolbar-glow)/0.12);

      }
    }
  }
}

.meldDrawer {
  display: block;
  min-width: 240px;
  width: 240px;
  background-color: var(--drawer-surface-color);
  transition: all 0.2s ease-in-out 0s;
  overflow: auto;
  position: sticky;
  height: 100vh;
  top: 0;

  .meldDivider {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    box-sizing: inherit;
    border-top-color: var(--colors-divider);
    letter-spacing: normal;
  }

  .meldEditor {
    display: flex;
    margin: auto auto var(--space-16) auto;
    border: 1px solid #707070;
    border-radius: var(--round-radius);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    align-items: center;
    padding: calc(0.5em - 1px) var(--space-12);
    cursor: pointer;
    color: var(--text-primary);
  }
}

.categoryCta {
  display: grid;
  padding: 1em .6em;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

  .categoryItem {
    display: block;
    background-color: var(--surface-color);
    padding: .6em 1.2em;
    border-radius: var(--space-16);
    color: var(--text-secondary);
    margin: var(--space-8) var(--space-4);
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    min-width: 0;
    border: 1px solid rgba(var(--colors-toolbar-glow)/0.12);

  }
}

.entryCta {
  display: block;
  padding: 1em .6em;
  .entryItem {
    display: block;
    background-color: var(--surface-color);
    padding: .6em 1.2em;
    border-radius: var(--space-16);
    color: var(--text-secondary);
    margin: var(--space-8) var(--space-4);
    transition: all 0.2s ease-in-out 0s;
    min-width: 0;
    border: 1px solid rgba(var(--colors-toolbar-glow)/0.12);
  }
}

.dialog-mask {
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  padding: var(--space-16) ;
  -webkit-transition: opacity .2s cubic-bezier(.4,0,.2,1),visibility .2s linear;
  transition: opacity .2s cubic-bezier(.4,0,.2,1),visibility .2s linear;
  -webkit-tap-highlight-color: transparent;
  z-index: 3;

  .dialog {
    min-width: 74%;
    overflow: auto;
    margin: auto;
    background-color: var(--surface-color);
    padding: var(--space-40) var(--space-16);
    border-radius: var(--space-8);

    .dialog-cta {
      text-align: center;
      margin: 0 auto 0 auto;
    }
  }

  .img {
    max-height: 70vh;
  }
}